.input {
  &__label {
    font-size: 18px;
    line-height: 25px;
    color: #7b7b7b;
  }

  &__element {
    font-size: 16px;
    height: 26px;
    padding: 6px;
    background: #F1F2F5;
    border-radius: 4px;
    display: block;
    border: none;
    width: 100%;

    &--textarea {
      min-height: 100px;
      max-width: 100%;
      min-width: 200px;
      max-height: 200px;
    }
  }

  &--file {
    .input__label {
      cursor: pointer;
      width: 150px;
      background: black;
      color: white;
      border-radius: 4px;
      padding: 5px 30px;
    }

    .input__element {
      display: none;
    }
  }
}
